<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MENU EVERIS</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="card-body">




	<ul class="nav">
		<li class="nav-item"><a href="mostrarCliente.html"
			class="nav-link" th:href="@{/mostrarCliente.html}">Mostrar
				cliente</a></li>
		<li class="nav-item"><a class="nav-link" href="addCliente.html"
			th:href="@{/addCliente.html}">Añadir un nuevo cliente</a></li>
		<li class="nav-item"><a class="nav-link" href="consultarClientePorNombre.html"
			th:href="@{/consultarClientePorNombre}">Consultar cliente por
				nombre</a></li>
	</ul>
</body>
</html>